

.dropdown {
  display: none;
  border-bottom: 2px solid black;
  margin: 0.4em auto;
  max-width: 78%;
  text-align: center;
  #item-to-add {
    border: none;
    border-bottom: 1px dashed black;
    background-color: $yellow;
    height: 2em;
    margin-top: 1em;
    margin-bottom: 0.5em;
    width: 50%;
    &:focus {
      outline: none;
    }
  }
  #bg-select {
    display: none;
    @media screen and (min-width: 678px) {
      display: block;
    }
  }
}


