// ================== Palette =========================

$red: #F38181;
$yellow: #FCE38A;
$paleblue: #EAFFD0;
$blue: #95E1D3;
$green: #37FF37;
$orange: #FB9D0B;

// =========================== Fonts =========================



// ====================== General ========================

body {
  background-color: $yellow;
}

.list-container {
  // width: 100vw;
  padding: 2em;
}

