.list {
  background-color: $yellow;
  margin-bottom: 0.5em;
  li {
    padding: .5em;
    max-width: 30em;
    border-bottom: 1px dotted black;
    cursor: -webkit-grab;
    margin: 0 auto;
  }
  .imp-item {
    background-color: $red;
    display: none;
  }
  .item {
    background-color: $blue;
    display: none;
  }
  .complete {
    background-color: gray;
    text-decoration: line-through;
    display: none;
  }
}