.list {
  background-color: #fff;
  margin-bottom: 1em;
  li {
    padding: .5em;
    border-bottom: 1px dotted black;
    cursor: pointer;
  }
  .imp-item {
    background-color: $red;
    display: none;
  }
  .item {
    background-color: $blue;
    display: none;
  }
  .complete {
    background-color: gray;
    text-decoration: line-through;
    display: none;
  }
}