/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, ../../../../.rvm/gems/ruby-2.2.2/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../.rvm/gems/ruby-2.2.2/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../.rvm/gems/ruby-2.2.2/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../.rvm/gems/ruby-2.2.2/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../.rvm/gems/ruby-2.2.2/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../.rvm/gems/ruby-2.2.2/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../.rvm/gems/ruby-2.2.2/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../.rvm/gems/ruby-2.2.2/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../.rvm/gems/ruby-2.2.2/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 12, ../sass/_general.scss */
body,
#item-to-add {
  font-family: 'Gloria Hallelujah', cursive;
}

/* line 17, ../sass/_general.scss */
button {
  font-family: 'Poiret One', cursive;
  font-weight: 600;
  font-size: 1em;
  cursor: pointer;
}

/* line 26, ../sass/_general.scss */
html {
  transition: background-color 2s;
}
@media screen and (min-width: 678px) {
  /* line 26, ../sass/_general.scss */
  html {
    background-color: #EAFFD0;
  }
}

/* line 33, ../sass/_general.scss */
body {
  background-color: #FCE38A;
  max-width: 42em;
  margin: 0 auto;
}
@media screen and (min-width: 678px) {
  /* line 33, ../sass/_general.scss */
  body {
    margin-top: 4vw;
    margin-bottom: 4vw;
    box-shadow: 0px 4px 8px 3px gray;
  }
}

/* line 44, ../sass/_general.scss */
.list-container {
  padding: 1em;
  max-width: 40em;
  margin: 0 auto;
}

/* line 50, ../sass/_general.scss */
hr {
  margin: 0 auto;
  width: 3%;
  border-color: #000;
}

/* line 57, ../sass/_general.scss */
.fa {
  padding: .3em;
  border: 1px solid;
  border-radius: 100%;
  margin: 0 .5em;
  padding: .3em;
  cursor: pointer;
}

/* line 66, ../sass/_general.scss */
.fa-check {
  color: #008400;
  margin-right: 1.5em;
}

/* line 71, ../sass/_general.scss */
.fa-times {
  margin-right: 1.5em;
  color: #990f0f;
}

/* line 80, ../sass/_general.scss */
.add-button,
.list-complete,
.delete-all {
  background-color: #FB9D0B;
  border-top: none;
  border-left: none;
  border-right: none;
  padding: 0.6em;
  border-radius: 20px 15px / 50px 30px;
  border-bottom-width: 2px;
  border-bottom-color: rgba(251, 157, 11, 0.51);
}
/* line 91, ../sass/_general.scss */
.add-button:focus,
.list-complete:focus,
.delete-all:focus {
  outline: none;
}

/* line 96, ../sass/_general.scss */
.delete-all {
  background-color: #c81313;
}

/* line 100, ../sass/_general.scss */
.list-complete {
  background-color: #37FF37;
}

/* line 104, ../sass/_general.scss */
.button-holder {
  text-align: center;
  padding-bottom: .5em;
}

/* line 1, ../sass/_logo.scss */
.logo {
  background: #FCE38A url("../images/logo.svg") top center no-repeat;
  background-size: contain;
  width: 100%;
  height: 7em;
  margin-bottom: 1em;
}

/* line 3, ../sass/_dropdown.scss */
.dropdown {
  display: none;
  border-bottom: 2px solid black;
  margin: 0.4em auto;
  max-width: 78%;
  text-align: center;
}
/* line 9, ../sass/_dropdown.scss */
.dropdown #item-to-add {
  border: none;
  border-bottom: 1px dashed black;
  background-color: #FCE38A;
  height: 2em;
  margin-top: 1em;
  margin-bottom: 0.5em;
  width: 50%;
}
/* line 17, ../sass/_dropdown.scss */
.dropdown #item-to-add:focus {
  outline: none;
}

/* line 1, ../sass/_list.scss */
.list {
  background-color: #fff;
  margin-bottom: 0.5em;
}
/* line 4, ../sass/_list.scss */
.list li {
  padding: .5em;
  border-bottom: 1px dotted black;
  cursor: -webkit-grab;
}
/* line 9, ../sass/_list.scss */
.list .imp-item {
  background-color: #F38181;
  display: none;
}
/* line 13, ../sass/_list.scss */
.list .item {
  background-color: #95E1D3;
  display: none;
}
/* line 17, ../sass/_list.scss */
.list .complete {
  background-color: gray;
  text-decoration: line-through;
  display: none;
}

/* line 1, ../sass/_warning.scss */
.warning {
  display: none;
  font-family: 'Poiret One', cursive;
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.9);
  text-shadow: 0 0 .5px white;
  text-align: center;
}
/* line 12, ../sass/_warning.scss */
.warning h1 {
  color: #ea2424;
  font-size: 4em;
  margin-top: 1.5em;
}
/* line 17, ../sass/_warning.scss */
.warning p {
  color: #F38181;
  font-size: 2em;
  margin-top: 2em;
  padding-bottom: 1em;
}
/* line 23, ../sass/_warning.scss */
.warning button {
  border: none;
  color: #37FF37;
  font-size: 1.8em;
  padding: .2em;
  background-color: transparent;
}
/* line 30, ../sass/_warning.scss */
.warning .fa-check,
.warning .fa-times {
  margin: 0;
  border: none;
  margin: 0 0.5em;
}
